
@mixin checkbox( $size, $color ){
  position: relative;
  display: inline-block;
  line-height: rem($size);
  input[type="checkbox"] {
    &~label {
      padding-left: rem($size);
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: rem( $size/4 );
        left: rem( $size/4  );
        width: rem( $size/2 );
        height: rem( $size/4 );
        border: rem(2px) solid #191919;
        border-top-style: none;
        border-right-style: none;
        vertical-align: top;
        transition: transform .4s cubic-bezier(.45, 1.8, .5, .75);
        transform: rotate(-45deg) scale(0, 0);
      }
      &:after {
        vertical-align: top;
        content: '';
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0px;
        width: rem($size);
        height: rem($size);
        background: #fff;
        cursor: pointer;
      }
    }
    &:checked~label {
      &:before {
        transform: rotate(-45deg) scale(1, 1);
        border-color: #fff;
      }
      &:after {
        // background: #4A90E2;
        background: $color;
      }
    }
  }
}
