@import url(//fonts.googleapis.com/css?family=Roboto:400,500);

@import 'reset';
@import 'function';
@import 'mixin';


body,html{
  position: relative;
	-webkit-text-size-adjust: 100%;
	font-family: "Roboto","Microsoft JhengHei", "Apple LiGothic Medium", "sans-serif", "serif";
	background: #E1E1E1;
}
html{
  font-size: 16px;
}

a{ text-decoration: none; display: block;
	transition: .3s;
	&:hover{
		text-decoration: none;
		opacity: 0.7;
	}
}

a[href^=tel]{
	display: inline-block;
}

input{ -webkit-appearance: none; 
	&:focus{
		outline: none;
	}
}

