@import 'layout';

body,html{
  background: #fff;
  // *{ box-sizing: border-box; }
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  // border: 3px solid #000;
}


