@import url(//fonts.googleapis.com/css?family=Roboto:400,500);
@import 'reset';
@import 'function';
@import 'mixin';


$mainColor: #50E3C2;
$bgGradient: repeating-linear-gradient(135deg, $mainColor , $mainColor 14px, transparent 14px, transparent 28px);
$w: rem(120px);
$h: rem(100px);

body,html{
  position: relative;
	-webkit-text-size-adjust: 100%;
	font-family: "Roboto","Microsoft JhengHei", "Apple LiGothic Medium", "sans-serif", "serif";
  background: #fff;
  overflow-x: hidden;
  *{ box-sizing: border-box; }
}
html{
  font-size: 16px;
}
.hd{
  text-align: center;
  .logo{
    display: inline-block;
    padding: 0 rem(8px);
    font-size: rem(20px);
    font-weight: 500;
    color: #fff;
    background: #000;
    line-height: rem(32px);
  }
  h1{
    font-size: rem(72px);
    line-height: rem(85px);
    font-weight: bold;
    white-space: nowrap;
  }
}
.content{
  padding: rem(40px) 0;
  width: 8* $w;
  height: 20* $h;
  // width: (8 * 120px);
  // height: (20 * 100px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(8, 1fr);
  > div{
    position: relative;
    .info{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before{
        position: absolute;
        content: attr(data-num);
        font-size: rem(48px);
        font-weight: bold;
      }
      &:after{
        position: absolute;
        content: attr(data-txt);
        font-size: rem(24px);
        font-style: italic;
        font-weight: bold;
        line-height: rem(28px);
        white-space: nowrap;
      }
    }
    h2{
      position: absolute;
      z-index: 5;
      font-size: rem(48px);
      font-weight: bold;
      color: #000;
      text-shadow: 0px rem(-16px) 0px rgba(#000, .3), 0px rem(-26px) 0px rgba(#000, .1);
    }
    figure{
      z-index: 1;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img{
      position: relative;
      width: 100%;
      object-fit: cover;
    }
    &:before,&:after{ 
      content: '';
      position: absolute;
      box-sizing: border-box; 
    }
    &:not(:first-child){
      &:before{
        border: rem(20px) solid $mainColor;
      }
    }
  }
  .hd{
    grid-row: 1 / span 1;
    grid-column: 3 / span 4;
  }
  .item1{
    grid-row: 3 / span 4;
    grid-column: 1 / span 4;
    .info{
      &:before{
        top: 100%;
        left: 0;
      }
      &:after{
        left: 100%;
        top: 75%;
        writing-mode: vertical-lr;
        // transform-origin: left top;
        // transform: translate(rem(28px) ,0%) rotate(90deg);
      }
    }
    h2{
      left: 0;
      top: -3%;
    }
    img{
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      transform: translate( 25%,-25% );
    }
    &:after{
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 25%;
      transform: translate( 25%,50% );
      background: $bgGradient;
    }
  }
  .item2{
    grid-row: 4 / span 2;
    grid-column: 6 / span 2;
    .info{
      &:before{
        top: -50%;
        right: -50%;
      }
      &:after{
        bottom: 100%;
        z-index: 6;
        right: 50%;
      }
    }
    h2{
      top: calc(100% + 20px);
      left: 50%;
    }
    img{
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translate( 50%,-50% );
    }
    &:after{
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translate( 25%,-25% );
      background: $mainColor;
    }
  }
  .item3{
    grid-row: 9 / span 2;
    grid-column: 1 / span 4;
    .info{
      &:before{
        left: 100%;
        top: 100%;
      }
      &:after{
        top: 100%;
        right: 50%;
      }
    }
    h2{
      bottom: 100%;
      right: 0;
    }
    img{
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      transform: translate(25%, 25%);
    }
    &:after{
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      transform: translate( 0%,-25% );
      background: $mainColor;
    }
  }
  .item4{
    grid-row: 9 / span 4;
    grid-column: 7 / span 2;
    .info{
      &:before{
        bottom: 0;
        right: 100%;
      }
      &:after{
        bottom: 102%;
        right: 30%;
        transform: rotate(90deg);
        transform-origin: right bottom;
      }
    }
    h2{
      right: 100%;
      bottom: 100%;
      transform-origin: right bottom;
      transform: rotate(270deg);
    }
    img{
      top: 50%;
      transform: translateY(-50%) scale(1.3);
    }
    &:before{
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform: translate(-25%, -50%);
    }
    &:after{
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25%;
      transform: translate( 0%,50% );
      background: $bgGradient;
    }
  }
  .item5{
    grid-row: 13 / span 2;
    grid-column: 3 / span 2;
    .info{
      &:before{
        bottom: 0;
        left: -50%;
      }
      &:after{
        top:0;
        left: 100%;
      }
    }
    h2{
      right: 65%;
      bottom: 50%;
    }
    img{
      top: 50%;
      transform: translateY(-50%) scale(1.3) scaleX(-1);
    }
    &:before{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform: translate(-50%, 50%);
    }
    &:after{
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform: translate( -75%, -50% );
      background: $bgGradient;
    }
  }
  .item6{
    grid-row: 15 / span 4;
    grid-column: 5 / span 4;
    .info{
      &:before{
        bottom: 50%;
        right: 100%;
      }
      &:after{
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    h2{
      bottom: 100%;
      right: 0;
    }
    img{
      top: 50%;
      transform: translateY(-50%);
    }
    &:before{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform: translate(0%, 25%);
    }
    &:after{
      bottom: 0;
      left: 0;
      width: 50%;
      height: 50%;
      transform: translate( -25%,0% );
      background: $mainColor;
    }
  }
  .item7{
    grid-row: 17 / span 4;
    grid-column: 1 / span 2;
    .info{
      &:before{
        bottom: 0;
        right: -50%;
        z-index: 5;
      }
      &:after{
        left: 0;
        bottom: 100%;
      }
    }
    h2{
      left: 100%;
      bottom: 100%;
      transform-origin: left bottom;
      transform: rotate(90deg);
    }
    img{
      top: 50%;
      transform: translateY(-50%) scale(1.3);
    }
    &:before{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(25%, -12.5%);
    }
    &:after{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform: translate( 50%,0% );
      background: $mainColor;
    }
  }
}

@media (max-width: 980px) {
  .content{
    width: 6 * ($w*0.9);
    height: 38 * ($h*0.9);
    grid-template-rows: repeat(38, 1fr);
    grid-template-columns: repeat(6, 1fr);
    .hd{
      grid-row: 1 / span 1;
      grid-column: 2 / span 4;
    }
    .item1{
      grid-row: 3 / span 4;
      grid-column: 2 / span 4;
    }
    .item2{
      grid-row: 9 / span 2;
      grid-column: 3 / span 2;
    }
    .item3{
      grid-row: 13 / span 2;
      grid-column: 2 / span 4;
    }
    .item4{
      grid-row: 18 / span 4;
      grid-column: 3 / span 2;
    }
    .item5{
      grid-row: 24 / span 2;
      grid-column: 3 / span 2;
    }
    .item6{
      grid-row: 28 / span 4;
      grid-column: 2 / span 4;
    }
    .item7{
      grid-row: 34 / span 4;
      grid-column: 3 / span 2;
    }
  }
}

@media (max-width: 640px){
  .content{
    width: 6 * ($w*0.6);
    height: 38 * ($h*0.6);
    .hd{
      grid-row: 1 / span 1;
      grid-column: 1 / span 6;
    }
  }
}

@media (min-width: 320px), (max-width: 320px) { html { font-size: 12px; } }
@media (min-width: 360px) { html { font-size: 13.5px; } }
@media (min-width: 400px) { html { font-size: 15px; } }
@media (min-width: 640px) { html { font-size: 16px; } }