@import 'layout';
@import 'checkbox';


nav{
  height: rem(76px);
  line-height: rem(76px);
  background: #4A90E2;
  ul{
    @include maxWidth(620px);
    display: flex;
    justify-content: space-between;
    >li{
      position: relative;
      width:rem(160px);
      text-align: center;
      font-size: rem(24px);
      font-family: 'Roboto';
      a{
        color: #00408B;
      }
      &.is-active a,&:hover a{
        color: #fff;
        &:after{
          content: '';
          position: absolute;
          left:0;
          bottom: 0;
          width: 100%;
          height: rem(5px);
          background: #00408B;
        }
      }
    }
  }
}

.content{
  margin-top: rem(24px);
  margin-bottom: rem(48px);
  *{ box-sizing: border-box; }
  @include maxWidth(620px);
  
}


[data='checkbox-check']{
  @include checkbox( 24px,#4A90E2 );
}

.m-addtask{
  transition: .5s;
  &.is-active{
    height: rem(500px);
    .addinner{
      max-height: rem(500px);
      transform: scale(1,1);
    }  
  }
  position: relative;
  margin-bottom: rem(24px);
  height: rem(64px);
  .add{
    padding: 0 rem(30px);
    border-radius: rem(4px);
    height: rem(64px);
    line-height: rem(64px);
    font-size: rem(24px);
    border: rem(2px) solid #C8C8C8;
    color: #C8C8C8;
    background: #fff;
  }
  .addinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 0;
    transform: scale(1,0);
  }
}


[data='check-file']{
  display: flex;
  .fileinfo{
    margin-right: rem(24px);
    font-family: 'Roboto';
    line-height: rem(20px);
    .date{
      color: #757575;
    }
  }
  input{ 
    display: none; 
  }
  label{
    align-self: center;
    &:hover{
      background: #4A90E2; 
    }
    transition: .3s;
    position: relative;
    border-radius: rem(2px);
    display: block;
    width: rem(32px);
    height: rem(32px);
    background: #c8c8c8;
    cursor: pointer;
    &:before,&:after{
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(12px);
      height: rem(2px);
      background: #fff;
    }
    &:after{
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.m-task-item{
  border-radius: rem(4px);
  margin-bottom: rem(8px);
  height: rem(102px);
  transition: .5s;
  &.topic{
    .m-task-label{
      background: #FFF2DC;
      .edit{  
        .fa-star{
          color: #F5A623;
        }
      }
    }
  }
  &.is-edit{
    box-shadow: 0px 4px 10px #c8c8c8;
    margin-bottom: rem(16px);
    height: rem(478px);
    .m-task-label{
      border-radius: rem(4px) rem(4px) 0 0;
      height: rem(76px);
      .state{ display: none; }
      .group,.info,.edit{
        align-self: center;
      }
      .fa-edit{
        color: #4a90e2;
      }
    }
    .m-task-event{  
      transform: scale(1,1);
    }
  }
  &.is-del{
    .m-task-label{
      height: rem(76px);
    }
    .group,.info,.edit{
      align-self: center;
    }
    h4{
      color: #9B9B9B;
      text-decoration:line-through;
    }
    .state{ display: none; }
  }
}


.m-task-label{
  border-radius: rem(4px);
  height: rem(102px);
  padding: rem(20px) rem(30px);
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  
  .group{
    flex: 0 0 atuo;
    // align-self: center;
    width: rem(36px);
  }
  .info{
    display: flex;
    // align-self: center;
    flex-wrap: wrap;
    align-content: space-between;
    flex: 1 1 0;
    input[type='text']{
      &::placeholder{
        color: #000;
      }
      border:0px;
      font-size: rem(24px);
      font-family: 'Roboto';
      font-weight: 500;
      line-height: rem(20px);
      background: transparent;
    }
    h4{
      width: 100%;
      font-size: rem(24px);
      font-family: 'Roboto';
      font-weight: 500;
      line-height: rem(20px);
    }
    .state{
      > span{
        display: inline-block;
        color:#757575;
        margin-right: rem(16px);
        >em{
          margin-left: rem(8px);
        }
      }
    }
  }
  .edit{
    flex: 0 0 atuo;
    font-size: rem(24px);
    i{
      display: inline-block;
      margin-left: rem(20px);
    }
  }
  
}

.m-task-event{
  position: relative;
  border-radius: 0 0 rem(4px) rem(4px);
  border-top: rem(2px) solid #c8c8c8;
  max-height: 0;
  transition: .5s;
  transform: scale(1,0);
  transform-origin: top;
  .m-task-block{
    padding: rem(20px) rem(70px) rem(8px) rem(70px);
    background: #F2F2F2;  
    >div{
      margin-bottom: rem(16px);;
    }
  }
  .tit{ 
    font-size: rem(20px);
    font-weight: 500;
    margin-bottom: rem(8px);
    i{
      display: inline-block;
      width: rem(20px);
    }
  }
  .cont{
    padding-left: rem(24px);
  }
  textarea{
    resize: none;
    font-family: 'Roboto';
    padding: rem(8px) rem(16px);
    line-height: rem(24px);
    font-size: rem(16px);
    border: 0px;
    width: 100%;
    height: rem(120px);
  }
  .btns{
    text-align: center;
    display: flex;
    
    i{
      display: inline-block;
      margin-right: rem(8px);
    }
    a{ 
      position: relative;
      display: block;
      width: 50%;
      font-size: rem(24px);
      line-height: rem(60px);
      &.cancel{
        border-radius: 0 0 0 rem(4px);
        color: #D0021B;
        background: #fff;
        &:hover{
          background: #fdfdfd;
        }
      }
      &.save{
        border-radius: 0 0 rem(4px) 0;
        color: #fff;
        background: #4A90E2;
        &:hover{
          background: #3982d7;
        }
      }
    }
  }
}


.total{
  padding-left: rem(30px);
  font-size: rem(24px);
  color: #c8c8c8;
  font-style: italic;
}